# Dependencies
node_modules/

# Build
dist/

# iOS
ios/App/Pods/
ios/App/App.xcarchive/
ios/build/

# Android
android/app/build/
android/build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
